{% extends "base.j2" %}

{% block content %}
Games
=====

  * [Nain porte quoi][nainportequoi] is a board game I've rewritten in javascript and renamed [Allonboard][allonboard]
  * [Netblocks][netblocks] is a mixing of [Tetris][tetris] and [FreeNet][freenet]
  * [Gate][gate] is my current project, a puzzle FPS inspired by [Portal][portal]

{#

Scripts
=======

Doc, tutorials
==============

#}

[nainportequoi]: http://jeuxlibres.net/showgame/nain_porte_quoi.html
[allonboard]: http://www.effectgames.com/effect/games/allonboard/1.0
[netblocks]: netblocks.html
[tetris]: http://en.wikipedia.org/wiki/Tetris
[freenet]: http://www.jurjans.lv/stuff/net/FreeNet.htm
[gate]: Gate/
[portal]: http://en.wikipedia.org/wiki/Portal_(video_game)
{% endblock %}
