{% extends "base.j2" %}

{% block content %}
What ?
======

* A 3D engine with an API for python
* [Homepage][Homepage]
* [A script to split an egg file into an octree][eggoctree]
* [FPS template][fpstemplate]
* [Naith][naith] ([found here][naithforumtopic])
* [Collisions tutorial][coltut]

[Homepage]: http://www.panda3d.org/
[eggoctree]: http://panda3d.org/phpbb2/viewtopic.php?p=23267#23267
[fpstemplate]: http://www.panda3d.org/forums/viewtopic.php?t=4068
[naith]: http://code.google.com/p/naith/
[naithforumtopic]: http://www.panda3d.org/forums/viewtopic.php?t=8391
[coltut]: http://www.panda3d.org/forums/viewtopic.php?t=7918
{% endblock %}
