<!doctype html>
<html lang="en">
    <head>
        <link href="http://fonts.googleapis.com/css?family=Anton" rel="stylesheet" type="text/css">
        <title>{{ website.title }}{{ resource.meta.title_ending }}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ media_url('css/style.css') }}">
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
        </script>
        <![endif]-->
<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26657137-1']);
  _gaq.push(['_setDomainName', '.court-jus.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- End Google Analytics -->
    </head>
    <body>
        <header>
            <hgroup>
            <h1><a href="/"><span>court-jus</span>.net</a></h1>
            <!-- <h2>Know your tool</h2> -->
            </hgroup>
        </header>
        <div id="debug">
            <pre>
            SITE :
            {{ site }}
            NODE :
            {{ node }}
            RES :
            {{ resource }}
            </pre>
        </div>
        <div id="social">
            {% from "macros.j2" import render_social with context %}
            {{ render_social() }}
        </div>
        <nav>
        {# Move main menu rendering away from the base layout. This
           way it can be used to generate the list many times, in
           a footer, etc.
        #}
            {% from "macros.j2" import render_main_menu with context %}
            {{ render_main_menu() }}
        </nav>
        <article id="content">
        {# Main content block. Notice it has to pass through the
           Markdown filter to generate HTML. If a block in content
           pages contains only markup, you can omit the filter.
        #}
            {% filter markdown -%}
            {% block content %}{% endblock %}
            {%- endfilter %}
        </article>
        <aside>
            <p>Created by <a href="{{ author.url}}">{{ author.name}}</a>
             - powered by <a href="{{ engine.url}}">{{ engine.name}}</a>
             - {{ website.version }}</p>
        </aside>
    </body>
</html>
