{% macro render_excerpt(res, class=None) %}
{% refer to res.url as post %}
<article {{'class='~class if class }}>
<h3><a href="{{ content_url(res.url) }}">{{ res.meta.date }} - {{ res.meta.title|default(res.slug) }}</a></h3>
{% if post.image %}
<a href="{{ content_url(res.url) }}">{{ post.image|markdown|typogrify }}</a>
{% endif %}
{{ post.excerpt|markdown|typogrify }}
</article>
{% endmacro %}

{% macro render_main_menu() -%}
<ul>
{% for menu_item in menu -%}
    <li><a {% if menu_item.url == resource.url %}class="selected"{% endif %} href="/{{ menu_item.url }}">{{ menu_item.title }}</a></li>
{%- endfor %}
</ul>
{%- endmacro %}

{% macro render_social() -%}
    <ul>
        {% for menu_item in socialmenu -%}
            <li>
                <a href="{{ menu_item.url }}" title="{{ menu_item.title }}">
                    <img src="{{ media_url(menu_item.img) }}" alt="{{ menu_item.title }}" />
                </a>
            </li>
        {%- endfor %}
    </ul>
{%- endmacro %}
