Gate
====

About
-----

My project is to create an OpenSource and Free game inspired by [Portal][portal]

{% for grp, res_walker in site.content.walk_project_groups() %}
{% if grp.name == resource.meta.project %}
{% for res in res_walker %}
{% if res.meta.index > 0 %}
  * [{{ res.meta.title|default(res.slug)|capitalize|replace('-', ' ') }}]({{ res.full_url }})
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
* [Documentations][docs]
* [Forum][forum]

Status
------

The last version [0.3][tags] is available and playable. It contains a level editor and 4 playable levels.

You'll need Panda3D to run the program. I'm using the .deb version on my Ubuntu.

[portal]: http://en.wikipedia.org/wiki/Portal_(video_game)
[tags]: https://github.com/court-jus/Gate_OpenPortal/tags
[news]: /Gate/news.html
[media]: /Gate/media.html
[docs]: http://gate.rtfd.org
[forum]: http://groups.google.com/group/gategame
