{% extends "base.j2" %}

{% block content %}
Gate
====

About
-----

My project is to create an OpenSource and Free game inspired by [Portal][portal]

* [News (last : 2011-10-26)][news]
* [Media][media]
* [Documentations][docs]
* [Forum][forum]

Status
------

The last version [0.3][tags] is available and playable. It contains a level editor and 4 playable levels.

You'll need Panda3D to run the program. I'm using the .deb version on my Ubuntu.

[portal]: http://en.wikipedia.org/wiki/Portal_(video_game)
[tags]: https://github.com/court-jus/Gate_OpenPortal/tags
[news]: /Gate/news.html
[media]: /Gate/media.html
[docs]: http://gate.rtfd.org
[forum]: http://groups.google.com/group/gategame
{% endblock %}
