{% extends "base.j2" %}

{% block content %}
News
====

2011-11-01
----------

* The [tag v0.3][tags] is out.
* Level Editor "a la minecraft"
* New [documentation website][docs]
* Some little improvements
* 4 playable levels !

2011-10-26
----------

* A new video is out !
* We now have 3 playable levels
* The [Editor][leveledit] is almost ready
* I (re)began some work to rewrite the physics part using ODE

2011-10-22
----------

Many changes. Look at the [Changelog][changelog]

2011-10-21
----------

The [tag v0.2][tags] is out. I've removed the ODE part now because I wanted to go back in the game mechanism. In this version, there is a Level loader that translates a text file in a level. Please use it to create custom levels and have fun !

2011-10-13
----------

The project is not dead. I'm integrating the ODE physics engine and it's a little hard. I'll release a new video when possible. I'm also adding an easy way to create new levels.

2011-08-03
----------

Tonight I'm trying to work on the view angle inside the portals.

[tags]: https://github.com/court-jus/Gate_OpenPortal/tags
[docs]: http://gate.rtfd.org
[leveledit]: http://gate.readthedocs.org/en/latest/editing.html
[changelog]: https://github.com/court-jus/Gate_OpenPortal/commits/master
{% endblock %}
